input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.centerItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

body{
    font-family: Roboto, sans-serif;
}

.mainText{
    font-size: 48px;
}

form.formContainer{
    width: 100%;
}

form.formContainer div{
    position: relative;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    border: 1px lightgray solid;
    border-radius: 30px;
}

form.formContainer button{
    width: 50px;
    height: 56px;
    cursor: pointer;
    position: absolute;
    padding-right: 7%;
    right: 0;
    background: none;
    border: none;
}

form.formContainer input[type=text]{
    width: 100%;
    padding-left: 30px;
    max-width: 600px;
    min-width: 100px;
    font-weight: 300;
    height: 50px;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 90px;
}

form.formContainer span{
    font-size: 30px;
}

.trending-news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.margin-left{
    margin-left: 15px;
}

.margin-top{
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 50px;
}

.margin-right{
    margin-right: 10px;
}

.flex-direction-row{
    display: flex;
    flex-direction: row;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}

.information-card{
    position: relative;
    display: flex;
    width: 400px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-card {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: rgba(0,0,0,0.8);
}

.news-title-text{
    color: #ffffff;
    margin: 15px;
    word-wrap: break-word;
    line-height: 1.5em;
}

.search-box-container{
    background-color: white;
}

div.language-container div{
    margin: 10px;
}

div.language-container div:hover{
    color: blue;
    cursor: pointer;
}
