.centerItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

body{
    font-family: Roboto, sans-serif;
}

.mainText{
    font-size: 48px;
}

form.formContainer{
    width: 100%;
}

form.formContainer button{
    width: 50px;
    height: 56px;
    cursor: pointer;
}

form.formContainer input[type=text]{
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
}

form.formContainer span{
    font-size: 30px;
}

.trending-news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.margin-top{
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 50px;
}

.flex-direction-row{
    display: flex;
    flex-direction: row;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}

.information-card{
    position: relative;
    display: flex;
    width: 400px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
    background-size: cover;
}

.sub-card {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: rgba(0,0,0,0.8);
}

.news-title-text{
    color: #ffffff;
    margin: 15px;
    word-wrap: break-word;
    line-height: 1.5em;
}

.search-box-container{
    background-color: white;
}

div.language-container div{
    margin: 10px;
}

div.language-container div:hover{
    color: blue;
    cursor: pointer;
}
